<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container align-items-center">
          <ng-container *ngIf="isActive else inActive">
            <h1 style="margin-left: 47%;"><i class="fa fa-check-circle" style="font-size:60px;color:green"></i></h1>
            <h3 class="d-flex justify-content-center">{{cardHeader}}</h3>           
            <div class="card">
              <div class="card-body">
                <p>{{cardBody}}</p>
                <p>Plese use the link below to login to your account.</p>
                <button type="button" title="Login" class="btn btn-success btn-lg">
                    <a href="{{appUrl}}/admin/" style="text-decoration: none; color: white;">Login to your account</a>
                </button>
              </div>
            </div>
          </ng-container>
            
          <ng-template #inActive>
            <h1 style="margin-left: 47%;"><i class="fa fa-times-circle" style="font-size:60px;color:red"></i></h1>
            <h3 class="d-flex justify-content-center">Account verification failed!</h3>           
            <div class="">
              <div class="card-body">
                <p class="text-danger d-flex justify-content-center">Verification code or email does not match our record.</p>     
              </div>
            </div>
          </ng-template>
        </div>
    </div>
</div>