<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>Now your are viewing Admin panel</h3>
            <p>Start managing your employee data</p>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Choose any link from below</h4>
                <!-- <p class="card-text">Some example text. Some example text.</p> -->
                <a title="Add employee" class="card-link" routerLinkActive="active" routerLink="../emp">Add employee</a>
                <a title="View all employee" routerLinkActive="active" routerLink='../emp/all' class="card-link">View employees</a>
              </div>
            </div>
          </div>
    </div>
</div>

