body {
	color: #fff;
	background: #d47677;
}

.set-pass-form {
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;		
}
.set-pass-form form {
	color: #7a7a7a;
	border-radius: 2px;
	margin-bottom: 15px;
	/* font-size: 13px; */
	background: #ececec;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;	
	position: relative;	
}
.set-pass-form h2 {
	font-size: 22px;
	margin: 35px 0 25px;
}
.set-pass-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	/* background: #70c5c0; */
	background: #ffc107;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.set-pass-form .avatar img {
	width: 100%;
}	
.set-pass-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}

.set-pass-form .btn, .set-pass-form .btn:active {        
	font-size: 16px;
	color: black;
	background: #ffc107 !important;
	border: none;
	margin-bottom: 20px;
}

.set-pass-form .btn:hover, .set-pass-form .btn:focus {
	/* background: #50b8b3 !important; */
	background: #e6b727 !important;
}    
/* .set-pass-form a {
	color: rgb(10, 10, 10);
	text-decoration: underline;
}
.set-pass-form a:hover {
	text-decoration: none;
}
.set-pass-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.set-pass-form form a:hover {
	text-decoration: underline;
} */
.set-pass-form .bottom-action {
	font-size: 14px;
}

/* To make taost appear visible */
#myToast {
	opacity: 1;
	position: absolute; 
	top: 62px; 
	right: 11px;
}