<div class="container">
    <div class="jumbotron jumbotron-fluid">        
        <div class="set-pass-form">
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong> Please update your password </strong>
            </div>
            <form [formGroup]="setPassForm" (ngSubmit)="onSubmit()">
                <!-- <div class="avatar">
                    <img src="../../assets/avatar.png" alt="Avatar">
                </div> -->
                <h2 class="text-center">Set New Password</h2>   
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </span>                    
                        </div>
                        <input type="email" readonly title="Email" class="form-control text-success" formControlName="email" >                        
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-key"></i>
                            </span>                    
                        </div>
                        <input autofocus type="password" title="Old Password" class="form-control" placeholder="Old password" 
                            formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">                        
                    </div>
                    <div >
                        <div *ngIf="submitted && f.oldPassword.errors" class="text-danger">
                            <span *ngIf="f.oldPassword.errors.required">Enter old password</span>
                            <span *ngIf="f.oldPassword.errors.noMatch">Wrong old password</span>
                            <span *ngIf="f.oldPassword.errors.minlength">Old password is 5 characters length</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-key"></i>
                            </span>                    
                        </div>
                        <input type="password" title="New Password" class="form-control" placeholder="New password" 
                            formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">                        
                    </div>
                    <div >
                        <div *ngIf="submitted && f.newPassword.errors" class="text-danger">
                            <span *ngIf="f.newPassword.errors.required">Enter new password</span>
                            <span *ngIf="f.newPassword.errors.isSame">Enter different password other than old password</span>
                            <span *ngIf="f.newPassword.errors.minlength">Minimum 8 characters required</span>
                        </div>
                    </div>
                </div>        
                <div class="form-group">
                    <button [disabled]="loading" type="submit" title="Sign in" class="btn btn-warning btn-lg btn-block">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Update password</button>
                </div>          
                
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
            
        </div>
    </div>    
    <app-footer></app-footer>
</div>

<!-- <ng-container *ngIf="success">
    <div class="toast" id="myToast">
        <div class="toast-header text-white bg-success">
            <strong class="mr-auto"><i class="fa fa-check"></i> Success!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" (click)="success=false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <div>
                <h6>You account has successfully created <i class="fa fa-smile-o" aria-hidden="true"></i>.</h6>
            </div>
            <div>
                <p>You must confirm your email address before continuing.</p>
                <p>Please check your email for a confirmation link</p>
            </div>    

        </div>
    </div>
</ng-container> -->